<p id="notice"><%= notice %></p>

<p>

  <h2><%= @beer_club.name %></h2>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>
<p><% if @beer_club.users.count > 0%>
      Members of this club: <br>
      <% @beer_club.users.each do |u| %>
          <td><%= link_to u.username, user_path(u.id) %> </td>
      <% end %>
  <%end %>
  </p>
  <% if current_user %>
      <%= form_for(@membership) do |f| %>
          <%= f.hidden_field :beer_club_id %>
          <% if @beer_clubs.count > 0 %>
              <%= f.submit value:"Join the club" %>
              <% else %>
              <%= form_for(@membership, method: "delete") do |f| %>
                  <%= f.hidden_field :beer_club_id %>
                  <%= f.submit value: "end the membership" %>
              <% end %>
          <% end %>
      <% end %>
  <% end %>


  <div class="btn-group">
    <%= edit_and_destroy_buttons(@beer_club) %>
  </div>