<%= form_for(@brewery) do |f| %>
  <% if @brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% @brewery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-xs-6">
    <%= f.label :name %>
   <input type="text" class="form-control" id="name" placeholder="Name" <%= f.text_field :name %>
  </div>
    <br><br><br><br>
    <div class="field col-xs-6">
    <%= f.label :year %><br>
    <input type="number" class="form-control" id="year" placeholder="Year" <%= f.number_field :year %>
  </div>
    <br><br><br><br>
    <div class="field">
      <%= f.label :activity %>
      <%= f.check_box :activity %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
