<p id="notice"><%= notice %></p>

<h2>Listing Beers</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr align="center">
      <th align="center">Name</th>
      <th align="center">Rating</th>
      <th align="center">Style</th>
      <th align="center">Brewery</th>

    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <% byebug if beer.brewery.nil? %>
      <% brewery = beer.brewery %>
      <tr align="center">
        <td><%= link_to beer.name, beer %></td>
        <td><%= beer.average_rating %></td>
        <td><%= beer.style.name %></td>
        <td><%= link_to brewery.name, brewery %></td> </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'List of breweries', breweries_path %>
<br>
<%= link_to('New Beer', new_beer_path) if current_user %>