<p id="notice"><%= notice %></p>

<h2>Listing Beers</h2>


<% cache "beerlist-#{@order}", skip_digest: true do %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th> <%= link_to 'Name', beers_path(order:"name") %> </th>
      <th> <%= link_to 'Rating', beers_path(order:"rating") %></th>
      <th> <%= link_to 'Style', beers_path(order:"style") %> </th>
      <th> <%= link_to 'Brewery', beers_path(order:"brewery") %> </th>

    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <% byebug if beer.brewery.nil? %>
      <% brewery = beer.brewery %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= beer.average_rating %></td>
        <td><%= beer.style.name %></td>
        <td><%= link_to brewery.name, brewery %></td> </tr>
    <% end %>
  </tbody>
</table>

<% end %>
<br>
<%= link_to 'List of breweries', breweries_path %>
<br>
<%= link_to('New Beer', new_beer_path) if current_user %>