<p id="notice"><%= notice %></p>

<% if @places %>
      <% @places.each do |place| %>
            <% Place.rendered_fields.each do |f| if place.send(f) == params[:id]%>
                <h3><%= place.send(:name) %></h3>
                <p><%= place.send(:street) %></p>
                <p><%= place.send(:zip) %> <%=session[:previous]%></p>
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%=session[:previous]%>,<%=place.send(:street)%>,<%=place.send(:zip)%>&size=500x400">
            <% end %>
            <% end %>
      <% end %>
<% end %>